[submodule "OcorrenciaBackEnd"]
	path = OcorrenciaBackEnd
	url = https://github.com/JamesGVidal/OcorrenciaBackEnd.git
[submodule "OcorrenciaFrontEnd"]
	path = OcorrenciaFrontEnd
	url = https://github.com/JamesGVidal/OcorrenciaFrontEnd.git
